:root{
    --brown-color: rgb(201, 169, 130);
    --hover-brown: rgb(238, 208, 171) ;
}

.btn__open{
    position: fixed;
    width: 100px;
    z-index: 5;
    left: -20px;
    top: 150px;
    text-align: end;
    font-size: small;
    background-color: var(--brown-color);
    color: rgb(249, 252, 255);
}

.btn__open:hover{
    background-color: var(--hover-brown);
}

.products-filter{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    align-items: center;
    z-index: 20;
    background-color: var(--brown-color);
    background-color: rgb(240, 238, 231);
    border-right: 1px solid rgb(177, 189, 111);
    padding:1rem;
    left: 0;
    top:0;
    gap: .1rem;
    margin-left: 0px;
    transition: margin .5s;
}

.close__menu{
    margin-left: -500px;
}

button{
    width: 140px;
    margin-top: 0px;
    background-color: transparent;
}

.btnAll{
    background-color: var(--brown-color);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.btnAll:hover{
    background-color: var(--hover-brown);
}

.bxs-chevrons-left{
    background-color: var(--brown-color);
    width: 140px;
    padding: .7rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: .5rem;
    cursor: pointer;
}

.bxs-chevrons-left:hover{
    background-color: var(--hover-brown);
}