
.card__product{
    border: 1px solid var(--orange-color);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    max-width: 350px;
    cursor: pointer;
    overflow: hidden;
    max-height: 100%;
    position: relative;
}


.card__product-container-img{
    position: relative;
}


.card__product-img2{
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(0%);
    transition: filter .3s ease;
}



.card__product:hover .card__product-img2{
    filter: opacity(100%);
}

/* .card__product-materialOnImage{
    position: absolute;
    background-color: var(--orange-color);
    width: fit-content;
    font-weight: 500;
    border-radius: 1rem 0 0 0;
    top: 0;
    padding: .5rem;
    padding-right: 1rem;
    right: -10px;
    color: aliceblue;
} */


.card__product-materialOnImage{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    font-weight: 500;
    border-radius: 1rem;
    border: 1px solid var(--orange-color);
    padding: .5rem;
    padding-right: 1rem;
    bottom: 14%;
    right: -4%;
    color: var(--orange-color);
    position: absolute;
    z-index: 1;
}

.card__product-main{
    background-color: var(--orange-color);
    display: flex;
    flex-direction: column;
}

.card__product-name{
    color: aliceblue;
    margin-bottom: -0.5rem;
}


.card__product-price{
    font-weight: bold;
    color: aliceblue;
}



.card-container-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
}