.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar .logo__container{
    width: 100px;
}


.navbar ul{ 
    display: flex;
    list-style: none;
    gap: 3rem;
    font-weight: bold;
    color: var(--brown-color);
    transition: color .5s;
}


.navbar ul {
    cursor: pointer;
    color: var(--brown-color);
    transition: color .5s;
}


.navbar ul li:hover{
    color: rgb(216, 194, 169);
}